<!DOCTYPE html>
<html>
<head>
	<title>{{loginfail}}</title>
</head>
<body style="background: url(https://media.st.dl.pinyuncloud.com/steam/apps/1091500/ss_526123764d1c628caa1eb62c596f1b732f416c8c.600x338.jpg?t=1608552868) ; background-size:100% 100% ; background-attachment: fixed">
    <h1 style="color:red">登录失败，请检查账号密码是否正确并返回重新输入</h1>
	<h1 style="color:blue">Login failed, please check whether the account password is correct and return to re-enter</h1>
	<input type="button" value="返回" onclick="javascript:history.back();">

	
</body>
</html>